{% extends 'base.html.twig' %}

{% block title %}Page Panier{% endblock %}

{% block body %}
    <h1>Vos commandes</h1>
    {% if commandes %}
        {% for commande in commandes %}
            <ul>
                <li>
                    {{commande.}}
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <h2 class="text-danger">Vous n'avez aucune commandes en cours</h2>
    {% endif %}
    
{% endblock %}
